<!DOCTYPE html>
<html>
<body>
{% include 'header.html' %}
{% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}
{% with firstname="Le" %}
  <h1>{{ firstname }}</h1>
{% endwith %}

<ul>
  {% for x in mymembers %}
    <li>{{ x.firstname }} {{ x.lastname }}</li>
  {% endfor %}
</ul>

{% if greeting == 1 %}
  <h1>Hello</h1>
{% elif greeting == 2 %}
  <h1>Welcome</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %}

{% for x in cars %}
  <h1>{{ x.brand }}</h1>
  <p>{{ x.model }}</p>
  <p>{{ x.year }}</p>
{% endfor %}

<p>Modified by Luke.</p>
{% include 'footer.html' %}
</body>
</html>